@model EditFootballerViewModel
@{
    ViewData["Title"] = "Редактирование футболиста";
}

    <div class="col-md-7 col-lg-8" style="margin-left:18%; margin-top:5%;">
        <h3 class="mb-3">Редактирование футболиста</h3>
        <a asp-action="AllFootballers" asp-controller="Footballer" class="btn btn-primary">Все футболисты</a>
        <form asp-action="EditFootballer" asp-controller="Footballer" method="post">
            <div asp-validation-summary="All"></div>
            <div class="row g-3">

                <div class="col-sm-6">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input type="text" class="form-control" asp-for="FirstName" required>
                    <span asp-validation-for="FirstName"></span>
                </div>

                <div class="col-sm-6">
                    <label asp-for="LastName" class="form-label"></label>
                    <input type="text" class="form-control" asp-for="LastName" required>
                    <span asp-validation-for="LastName"></span>
                </div><br />

                <div class="col-12">
                    <label asp-for="Gender" class="form-label"></label><br />
                    @foreach (var gender in Model.Genders)
                    {
                        <input type="radio" asp-for="Gender" value="@gender" />@gender<br />
                    }
                </div><br />



                <div class="col-12">
                    <label asp-for="Birthday" class="form-label"></label>
                    <input type="date" class="form-control" asp-for="Birthday">
                    <span asp-validation-for="Birthday"></span>
                </div><br />

                <div class="col-md-12">
                    <label asp-for="Country" class="form-label"></label>
                    <select class="form-select" asp-for="Country" required="">
                        <option value="Россия">Россия</option>
                        <option value="США">США</option>
                        <option value="Италия">Италия</option>
                    </select>

                </div>

                <div class="col-sm-6">
                    <label asp-for="SelectTeam" class="form-label"></label>
                    <select name="SelectTeam" asp-items="Model.Teams" class="form-select">
                        <option selected=""></option>
                    </select>
                </div>

                <div class="col-sm-6">
                    <label asp-for="TeamName" class="form-label"></label>
                    <input type="text" class="form-control" asp-for="TeamName" placeholder="Если вашей команды нет в списке">
                    <span asp-validation-for="TeamName"></span>
                </div>
                <input type="hidden" asp-for="Id" value="@Model.Id" />
            </div>

            <hr>

            <button class="w-100 btn btn-warning btn-lg" type="submit">Изменить футболиста</button>
        </form>
    </div>